# Senha do Banco de Dados Postgres
POSTGRES_PASSWORD=sua_senha_do_postgres_aqui

# Login do pgAdmin
PGADMIN_DEFAULT_EMAIL=seu_email_do_pgadmin@exemplo.com

# Chave da API do Google Gemini
GEMINI_API_KEY=sua_chave_do_gemini_aqui
